
/**{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin:0 100px;
    background-color: #ffeae0;
}*/
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0 100px;
    background-color: #ffeae0;
    
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b{
    color: #ff511c;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 40px;
}

.nav ul li:hover{
    cursor: pointer;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    /*font-weight: 500;
    font-family: sans-serif;
    font-size: 15px;*/
}

/*active*/
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

/*input*/
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}


.logout{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border:none;
    border-radius: 5px;
    width: 100px;
    font-size: medium;
    cursor: pointer;
}


.container{
    width: 85%;
    margin: 50px auto;
    text-align: center;
    font-family: sans-serif;
}
.title h2{
    text-align: center;
	font-weight: 600;
    font-size: 50px;
    font-family: sans-serif;
    color: black;
	/*margin: 70px;*/
    padding: 20px;
    /*font-family: sa
    font-size: 30px;
    margin-bottom: 20px;*/
}
#menu{
    color: #ff511c;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 32%;
    padding: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.443), 5px 0px 20px 0 rgba(0, 0, 0, 0.5);    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 20px;
    animation: displayable 1s ease-in-out;
    border-radius: 5px;
}
.box .image{
    justify-content: center;
    align-items: center;
}
.image img{
    width: 120px;
    height:150px;
    transition: 0.2s ease;
    object-fit:cover;
    
}
.image img:hover{
    transform: scale(1.04);
}
.box .text{
    width: 60%;
    text-align: left;
}
.text h3{
    font-size: 15px;
}
.text hr{
    height: 3px;
    background: #ff511c;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.text section{
    font-weight: 600;
    font-size: 17px;
}
.text article{
    font-size: 12px;
}
.text button{
    margin-top: 20px;
    padding: 5px 10px;
    border: 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #ff511c;
    color: black;
    cursor: pointer;
    display: block;
    transition: 0.2s ease;
    font-weight: bold;
}
.text button:hover{
    transform: scale(1.04);
}

#quantity{
    width: 80px;
    height: 25px;
    box-sizing:border-box;
}
@keyframes displayable{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    border: radius 20px;
    background-color: #ff511c;
}

a{
    text-decoration: none;
}